---
// import anime from 'animejs'
export interface Props {
	post: any;
}

const {post}=Astro.props;

---

<header class="header">
	<div class="header__retro-border"></div>
	<div class="header__background"></div>
	<div class="header__title--container">
		<svg class="title-path" preserveAspectRatio="none" viewBox="0 0 750 350">
			<defs>
				<path id="line" d="M 30, 40 h 500" />
				<path id="line-2" d="M 30, 75 h 500" />
			</defs>

			<text>
				<textPath xlink:href="#line">
					Worldwide
				</textPath>
				<textPath xlink:href="#line-2">
					Jamie
				</textPath>
			</text>
		</svg>
	</div>
</header>

<style>
	.header {
		position: relative;
		width: 100vw;
		height: 100vw;
		overflow: hidden;
	}

	.header__title--container {
		position: relative;
	}

	svg {
		position: absolute;
		transform: translate(20vw, calc(50vw - 50px));
		width: 100vw;
	}

	svg path {
		width: 100%;
		height: 100%;

	}

	svg text {
		font-size: 2em;
		font-family: 'ITC Pioneer W01 Regular', sans-serif;
		letter-spacing: 0.2em;
		fill: #6f1a07ff;
	}

	@media (min-width: 1200px) {
		.header {
			height: 30vw;
			width: 75vw;
			margin-top: 5vmin;
			margin-right: auto;
			margin-left: auto
		}

		svg {
			width: 1000px;
			position: absolute;
			transform: translate(10vw, calc(15vw - 50px));
		}
	}

	.header__retro-border {
		height: 100%;
		width: 100%;
		position: absolute;
		z-index: -2;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: var(--border-white);
		background-image: url(/public/assets/design-assets/cardboard.png);
	}

	.header__background {
		height: 95%;
		width: 95%;
		left: 2.5%;
		top: 2.5%;
		position: absolute;
		z-index: -1;
		background-color: var(--border-yellow);
		background-image: url(/public/assets/design-assets/cardboard.png);
	}

	.header__title,
	.wwj-title {
		font-family: "ITC Pioneer W01 Regular";
		font-size: 3.5vw;
	}
</style>